body{
    display:flex;
    min-height:100vh;
    margin:0;
    flex-direction: column;
}
.card{
    background: url("images/bg-main-mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
    flex-grow:2;
}
.form{
    flex-grow:4;
}
.card>div{
    background-repeat: no-repeat;
    background-size: contain;
    height:25%;
    width:100%;
    
}
.back-card{
    background: url("images/bg-card-back.png");
}
.front-card{
    background: url("images/bg-card-front.png");
    
    display:grid;
    grid-template-columns: auto auto auto;
}

@media only screen and (min-width: 768px) {
    body{
        flex-direction: row;
    }
    .card{
        background: url("images/bg-main-desktop.png");
        background-repeat: no-repeat;
        background-size: cover;
        flex-basis: 384px;
        flex-grow: 2;
    }
    .form{
        flex-grow: 7;
    }
}